@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-video {
  width: 100%;
}

.error-message {
  color: #A6031A;
  font-size: 12px;
}

.error {
  border: 1px solid #A6031A !important;
}

label {
  font-size: 14px;
}

.icon-error {
  color: #A6031A !important;
}

.typed-cursor--blink {
  display: none !important;
}

.player-wrapper {

}

video {
  height: 100vh ;
  background-position: center ;
  object-fit: cover ;
  background-size: cover ;
  background-color: black;
}

.parsafar {
  height: 410px !important;
  width: 100%!important;
  background-position: center ;
  object-fit: cover ;
  background-size: cover ;
  overflow: hidden;
}
.mosa {
  height: 410px !important;
  width: 100%!important;
  background-position: center ;
  object-fit: cover ;
  background-size: cover ;
  overflow: hidden;
}

/*bg-cover object-cover !h-screen !size-full*/