@tailwind base;
@tailwind components;
@tailwind utilities;

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-video {
    width: 100%;
}

.error-message {
    color: #A6031A;
    font-size: 12px;
}

.error {
    border: 1px solid #A6031A !important;
}

label {
    font-size: 14px;
}
.icon-error{
    color: #A6031A !important;
}

.typed-cursor--blink{
    display: none !important;
}